html {
  box-sizing: border-box;
}

body {
  color: #3A3A3A;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal; 
  font-size: 15px;
  line-height: 1.4;
}
ul{
    display: grid;
    grid-template-columns: repeat(10,10vw);
    grid-template-rows: repeat(12,5vw);
    background: #FFF;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

li{
    border: 1px solid #000;
    list-style: none;
}

li:nth-child(1){
    background: red;
    grid-column: span 2;
}

li:nth-child(2){
    background: blue;
    grid-row: span 3;
}
li:nth-child(3){
    background: yellow;
    grid-row: span 5;
}
li:nth-child(4){
    background: ;
    grid-column: span 1;
}

li:nth-child(5){
    background: blue;
    grid-column: span 3;
}
li:nth-child(6){
    background: yellow;
    grid-row: span 4;
}
li:nth-child(7){
    background: pink;
    grid-row: span 3;
}

i:nth-child(8){
    background: blue;
    grid-column: span 3;
}
li:nth-child(9){
    background: black;
    grid-row: span 3;
}
li:nth-child(10){
    background: Pink;
    grid-column: span 3;
}

li:nth-child(11){
    background: red;
    grid-row: span 2;
}

li:nth-child(12){
    background: blue;
    grid-row: span 3;
}
li:nth-child(13){
    background: orange;
    grid-row: span 5;
}
li:nth-child(14){
    background: black;
    grid-column: span 1;
}

li:nth-child(15){
    background: blue;
    grid-column: span 3;
}
li:nth-child(16){
    background: red;
    grid-row: span 10;
}
li:nth-child(17){
    background: Pink;
    grid-row: span 4;
}

i:nth-child(18){
    background: blue;
    grid-column: span 7;
}
li:nth-child(19){
    background: black;
    grid-column: span 5;
}
li:nth-child(20){
    background: Pink;
    grid-column: span 4;
}

li:nth-child(21){
    background: red;
    grid-row: span 2;
}

li:nth-child(22){
    background: blue;
    grid-row: span 3;
}
li:nth-child(23){
    background: yellow;
    grid-column: span 5;
}
li:nth-child(24){
    background: black;
    grid-column: span 5;
}

li:nth-child(25){
    background: orange;
    grid-row: span ;
}
li:nth-child(26){
    background: blue;
    grid-column: span 3;
}
li:nth-child(27){
    background: Pink;
    grid-row: span 1;
}

i:nth-child(28){
    background: blue;
    grid-column: span 7;
}
li:nth-child(29){
    background: black;
    grid-column: span 3;
}
li:nth-child(30){
    background: orange;
    grid-row: span 10;
}